attrs==25.4.0
boltons==25.0.0
contourpy==1.3.3
cycler==0.12.1
face==24.0.0
fonttools==4.61.1
glom==25.12.0
grapheme==0.6.0
kiwisolver==1.4.9
krotov==1.3.0
matplotlib==3.10.8
numpy==1.26.4
packaging==25.0
pillow==12.1.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
qutip==4.7.6
scipy==1.12.0
six==1.17.0
threadpoolctl==3.6.0
